<div>
  <div class="flex">
    <div class="nav-div">
      <h4>
        <span>Мой баланс: </span>
        <div >
          <mat-icon class="green">monetization_on</mat-icon>
          <span  ></span>
          <span ></span>
        </div>
      </h4>
      <div class="block">

        <div class="row-fluid brick">
          <button class="puffed" mat-raised-button color="primary"
                   routerLink="/cart"
                  routerLinkActive="active">
            <mat-icon>shopping_cart</mat-icon>
            Корзина
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
