<div class="main-page-content">
  <mat-card style="width: 100%; height: 300px">
      <h1 class="first-word">
        КОСМИЧЕСКОЕ
      </h1>
    <h2 class="second-world">
      СООБЩЕСТВО
    </h2>
    <p style="font-size:15px; max-width: 40%">Погрузись в мир командного взаимодействия и профессионального развития играючи</p>

  </mat-card>

<!--  <mat-card style="width: 50%; height: 700px">-->
<!--    <h3>Наша цель:</h3>-->
<!--    <p>-->
<!--      Мы предлагаем веб-сервис, призванный создать дружное комьюнити среди ваших сотрудников для увеличения их продуктивности, творческих и профессиональных способностей, культурной консолидации и командного взаимодействия. Тем самым мы снизим издержки для бизнеса при работе с командами и увеличим ценность каждого подпродукта по отдельности и, соответственного, общую прибыль.-->
<!--    </p>-->
<!--    <p>Для достижения этих метрик мы предлагаем использовать следующие возможности:</p>-->
<!--    <ul>-->
<!--      <li> Вознаграждение монетами за дружную работу с последующей конвертацией в цифровые рубли или ценные продукты (вознаграждение рассчитывает из конечного рейтинга, сформированного из пятибалльных оценок);</li>-->
<!--      <li> Отслеживания учебных, тимбилдинговых, общих мероприятий и участия в них;</li>-->
<!--      <li>Оценка работы своих коллег раз в рабочий цикл и анонимная обратная связь, при необходимости, HR-у;</li>-->
<!--      <li> Маркетплейс (например: брендированные вещи, промокоды в не развлекательные сервисы, покупка организации мероприятия для команды или семей команд);</li>-->
<!--      <li> Трекинг собственной оценки и получение достижений, связанных со взаимодействиями и продуктивностью (для ведения достижений мы используем геймификацию вовлечённости)</li>-->
<!--    </ul>-->
<!--    Таким образом, мы рассчитываем создать и поселить в головах сотрудников систему ценностей работа-удовольствие-сообщество. Система, которая будет растить, держать в тонусе и поощрять каждого сотрудника – парк развлечений из которого не захочется выходить. Конкурентами нашего сервиса мы видим онлайн-кинотеатры, бары, онлайн-игры.-->

<!--  </mat-card>-->

<!--  <mat-card>-->
<!--    <h3>Наша команда</h3>-->
<!--    <p> Никита Золотоус - Капитан, product manager</p>-->
<!--    <p> Елизавета Медведева - frontend-разработчик</p>-->
<!--    <p> Никита Терехов - backend-разработчик</p>-->
<!--    <p> Дарья Захарова - дизайнер</p>-->
<!--  </mat-card>-->
</div>
